<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uc.week1_0706011910011">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_baseline_directions_run_24"
        android:label="Week1_0706011910011"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.uc.week1_0706011910011.AddUserActivity" android:launchMode="singleTop"></activity>
        <activity android:name="com.uc.week1_0706011910011.DetailActivity" />
        <activity android:name="com.uc.week1_0706011910011.Loading" />
        <activity android:name="com.uc.week1_0706011910011.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>